
@{
    ViewBag.Title = "AddorEdit";
    Layout = null;
}

<style>
    .maxl {
        margin: 25px;
    }

    .inline {
        display: inline-block;
    }

        .inline + .inline {
            margin-left: 10px;
        }

    .radio {
        color: #999;
        font-size: 15px;
        position: relative;
    }

        .radio span {
            position: relative;
            padding-left: 20px;
        }

            .radio span:after {
                content: '';
                width: 15px;
                height: 15px;
                border: 3px solid;
                position: absolute;
                left: 0;
                top: 1px;
                border-radius: 100%;
                -ms-border-radius: 100%;
                -moz-border-radius: 100%;
                -webkit-border-radius: 100%;
                box-sizing: border-box;
                -ms-box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
            }

        .radio input[type="radio"] {
            cursor: pointer;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            filter: alpha(opacity=0);
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
        }

            .radio input[type="radio"]:checked + span {
                color: #0B8;
            }

                .radio input[type="radio"]:checked + span:before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    background: #0B8;
                    left: 5px;
                    top: 6px;
                    border-radius: 100%;
                    -ms-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -webkit-border-radius: 100%;
                }
</style>


@using (Html.BeginForm("AddorEdit", "TarrifCharge", FormMethod.Post, new { enctype = "multipart/form-data"})) //data-resetUrl
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">

    <div class="form-group">
        @Html.Label("BillNumber", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("BillNumber", new { htmlAttributes = new { @class = "form-control", placeholder = "Bill Number" } })

        </div>
    </div>

    <div class="form-group">
        @Html.Label("Creditor Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CustomerID", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control", required = "required" })



        </div>
    </div>
    <div class="maxl form-group">
        @Html.Label("Paid By", htmlAttributes: new { @class = "control-label col-md-2" })
        <label class="radio inline col-md-3">
            <input type="radio" name="Paidby" class="Transport" id="Self" value="0" checked="checked">
            <span> Self </span>
        </label>
        <label class="radio inline col-md-3">
            <input type="radio" name="Paidby" class="Transport" id="Transport" value="1">
            <span>Transport </span>
        </label>
        <div class="col-md-3" id="TransportData">
            @Html.DropDownList("PaidByID", Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control" })

        </div>
    </div>
    <div class="form-group">
        @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })

        </div>
    </div>
    <div class="form-group">
        @Html.Label("Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Date", new { htmlAttributes = new { @class = "form-control", type = "date" } })

        </div>
    </div>
    <div class="form-group">
        @Html.Label("Amount", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("Amount", new { htmlAttributes = new { @class = "form-control", placeholder = "Amount" } })

        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" id="Save" class="btn btn-success" />
        </div>
    </div>
</div>
}


<script>
    $(function () {
        GetDropDown('Creditor', '/BillCustomer/GetCustomer/', 'CustomerID')

        GetDropDown('Transport', '/BillCustomer/GetCustomer/', 'PaidByID')

    });

    //self and transport radio button with hidden transport type
    $(document).ready(function () {
        $('#TransportData').hide();
        $("#Transport").change(function () { // bind a function to the change event
            if ($(this).is(":checked")) { // check if the radio is checked
                $('#TransportData').show();
                //var val = $(this).val(); // retrieve the value
            }
        });

        $("#Self").change(function () { // bind a function to the change event
            if ($(this).is(":checked")) { // check if the radio is checked
                $('#TransportData').hide();
                //var val = $(this).val(); // retrieve the value
            }
        });



        //data save
        //	$('#Save').click(function(e) {

        //var a=SaveTransactionMain($('#BillNumber').val(),$('#Description').val(),$('#Date').val(),$('#UserName').val());
        //	TransactionMainID, LedgerNumber, Description, Debit, Credit, CustomerID
        //		SaveTransactionDetail($(a, $('#Description').val(),$('#Date').val(),$('#UserName').val());

        //	});
    });



</script>
