@model IEnumerable<ASPMVCIndraLaxmiImporium.Models.Customer>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}

<table class="table table-bordered table-responsive table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                <a class="btn btn-success" onclick="Edit('@Url.Action("AddorEdit", "Customer", new { id=@item.CustomerID })')"> <i class="fa fa-edit"></i> Edit</a>
                <a class="btn btn-danger" onclick="Delete('@Url.Action("Delete", "Customer", new { id=@item.CustomerID })')"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
        }
    </tbody>

</table>
