@model IEnumerable<ASPMVCIndraLaxmiImporium.Models.TransactionDetail>

@{
    ViewBag.Title = "ViewAll";
    Layout = null;
}


<table class="table table-bordered table-condensed table-striped" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TransactionMainID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LedgerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Debit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionMainID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LedgerNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Debit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    <a class="btn btn-success" onclick="Edit('@Url.Action("AddorEdit", "TransactionDetail", new { id=@item.TransactionDetailID })')"> <i class="fa fa-edit"></i> Edit</a>
                    <a class="btn btn-danger" onclick="Delete('@Url.Action("Delete", "TransactionDetail", new { id=@item.TransactionDetailID })')"><i class="fa fa-trash"></i> Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
